---
import { SITE } from 'astrowind:config';
import Image from '~/components/common/Image.astro';
import logoGestepa from '~/assets/images/logo-gestepa.png';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <Image 
    src={logoGestepa} 
    alt={SITE?.name || "Gestepa Asesores"} 
    class="max-h-12 w-auto"
    loading="eager" 
  />
</span>